{{define "title"}}Home{{end}}
{{define "main"}}
<main hx-boost="true" hx-push-url="false" hx-swap="beforeend" hx-indicator="#response-spinner">
    <h2>Home</h2>
    <button hx-post="/start"
            hx-target="#parent-div">
    Start
    </button>
    <button hx-post="/stop"
            hx-target="#parent-div">
    Stop
    </button>
    <button hx-post="/restart"
            hx-target="#parent-div">
    Restart
    </button>
    <button hx-get="/status"
            hx-target="#parent-div">
    Status
    </button>
    <button hx-get="/seed"
            hx-target="#parent-div">
    Seed
    </button>
    <button hx-get="/users"
            hx-target="#parent-div">
    Users
    </button>
    <form action="/message" method="post" hx-target="#parent-div">
        <label for="message">Message</label>
        <select id="user" name="user">
            <option value="All Players">All Players</option>
            {{range .Users}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
        <input id="message" type="text" name="message"/>
        <input type="submit" value="message"/>
    </form>
    <div id="parent-div">
    </div>
</main>
{{end}}