{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - MC Server Monitor</title>
        <link rel='stylesheet' href='/static/css/missing@1.1.1.min.css'>
        <!-- <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'> -->
        <script src="/static/js/htmx@1.9.9.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Minecraft Server Monitor</h1>
        </header>
        {{template "main" .}}
    </body>
</html>
{{end}}