{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - MC Server Monitor</title>
        <!-- <link rel='stylesheet' href='/static/css/main.css'> -->
        <!-- <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'> -->
        <script src="/static/js/htmx.min.js.js"></script>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body>
        <header>
            <h1>Minecraft Server Monitor</h1>
        </header>
        {{template "main" .}}
    </body>
</html>
{{end}}