body {
    height: 100vh;
}

.unscrollable-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.scrollable-child {
    overflow-y: auto;
  }